.map {
    height: 400px;
    background-color: #424242
}

.map-titulo {
    font-weight: 300
}

.map-titulogrande {
    font-weight: 500;
    background-color: white;
    
}

.map-padArriba {
    padding-top: 50px
}