.nav-logo {
    width: 250px;
    height: 100%;
    background-image: url("../img/LogoMecanica.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center
}

.nav-menu {
    position: relative;
    z-index: 1
}

.nav-num {
    padding-left: 10px;
    padding-right: 10px
}