.port-portada {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.port-foto1 {
    background-image: url("../img/1.jpg");
}

.port-foto2 {
    background-image: url("../img/2.jpg");
}

.port-foto3 {
    background-image: url("../img/3.jpg");
}

.port-foto4 {
    background-image: url("../img/4.jpg");
}

.port-configslider{
    height: 500px !important;
}

.port-texto{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    border-radius: 10px;
    padding: 10px
}

.port-titulo {
    font-weight: 300;
    
}

.port-subtitulo{
    font-weight: 100
}