.mislider {
    height: 600px;
}

.port-portada {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.port-foto1 {
    background-image: url("../img/1.jpg");
}

.port-foto2 {
    background-image: url("../img/2.jpg");
}

.port-foto3 {
    background-image: url("../img/3.jpg");
}

.port-foto4 {
    background-image: url("../img/4.jpg");
}

@media screen and (max-width:600px) {
    .mislider {
        height: 400px
    }
    .port-portada {
        height: 400px
    }
}

.port-texto {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px
}

.port-titulo {
    font-weight: 300;
}

.port-subtitulo {
    font-weight: 100
}

.btn-large:hover {
    background-color: #db2e4b
}