.social-caja {
    z-index: 2;
    background-color: transparent;
    position: fixed;
    bottom: 10px;
    right: 10px
}

.social-face {
    border-radius: 50%
}

.pulse::before {
    background-color: #6278e4
}